// 全局重置
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Maple Mono NF CN',PingFang SC, Microsoft YaHei, sans-serif;
}

// ==========================
// 顶部 Navbar
// ==========================
$nav-bg: #d4dee5;
$nav-text-default: #777;
$nav-text-active: #000;
$nav-height: 0.88rem;
$nav-font-size: 0.24rem;

// ==========================
// 底部 Tabbar
// ==========================
$tab-bg: #d4dee5;
$tab-text-default: #777;
$tab-text-active: #000;


// ==========================
// 公共变量
// ==========================
$icon-size: 0.36rem;
$font-sm: 0.2rem;
$font-md: 0.22rem;
$font-lg: 0.26rem;
